.carousel-img {
    max-height: 100%;
    width: auto;
}

.movie-caption {
    background-color: #333333BB;
    width: auto;
}

body {
    background-color: #333333;
    color: #aaaaaa;
}

.headerlogo {
    margin-top: 40px;
    margin-bottom: 40px;

    //padding-top: 20px;
    //padding-bottom: 20px;

}

.banner-img {
    max-width: 150px;
    margin: 4px;
    padding: 10px;
}

.banner-img:hover {
    background-color: #555555;
}

.bannercontainer {
    margin-top: 100px;
    //margin-bottom: 50px;
    //margin-left: 30px;
    //margin-right: 10px;

    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: #3d3d3d;
}

.bannercontainer h2 {
    color: #dddddd;
}

.footercopyright {

    //height: auto;

    //margin-top: auto;
    //margin-bottom: 0px;

    padding-top: 30px;
    padding-bottom: 30px;

    //border-top: #dddddd 3px solid;

    background-color: #222222;

}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: -1px;
}


img.hover-shadow-actor {
    transition: 0.3s
}

.hover-shadow-actor:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.28)
}

