
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-5">
            <a href="viewMovie.html?title=jurassticWorld" style="color: #dddddd"> <h1>Jurasstic World: Fallen Kingdom</h1> </a>

        </div>

        <div class="col-sm-2" style="margin-top:10px">

                <button class="btn btn-default" id="jurassticWorldFavoriteButton">
                    Add To Favorites <img src="../images/favorites.png" width="20" />
                </button>

        </div>

        <div class="col-sm-2" style="margin-top:10px">
            <button class="btn btn-default" id="jurassticWorldRemoveButton">
                Remove From Favorites <img src="../images/remove.png" width="20" />
            </button>
        </div>

        <div class="col-sm-8" style="color: #dddddd">
            <p>When the island's dormant volcano begins roaring to life, Owen and Claire mount a campaign to rescue the remaining dinosaurs from this extinction-level event. </p>
        </div>

        <div class="col-sm-4">
            <img src="../images/gallery/jurassticWorld/thumbnails/Jurassic-World-Fallen-Kingdom-Chris-Pratt-still.jpg">
        </div>

    </div>
    <div class="row">
        <div class="col-sm-2">
            <b>Director: </b>

        </div>

        <div class="col-sm-2">
            J.A. Bayona
        </div>

    </div>

    <div class="row">
        <div class="col-sm-2">
            <b>Writers: </b>
        </div>

        <div class="col-sm-3">
            Colin Trevorrow, Derek Connoll
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <b>Stars: </b>
        </div>

        <div class="col-sm-10">
            Bryce Dallas Howard, Chris Pratt, Jeff Goldblum...
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <b>Projection sites: </b>
        </div>

        <div class="col-sm-10">
            Yugoslav Film Acrchive, Fountain, Cultural center
        </div>
    </div>

</div>

<hr style="background-color: #f2f2f2"/>