
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-5">
            <a href="viewMovie.html?title=oceans8" style="color: #dddddd"><h1>Ocean's 8</h1></a>
        </div>

        <div class="col-sm-2" style="margin-top:10px">
            <button class="btn btn-default" id="oceanFavoriteButton">
                Add To Favorites <img src="../images/favorites.png" width="20" />
            </button>
        </div>

        <div class="col-sm-2" style="margin-top:10px">
            <button class="btn btn-default" id="oceanRemoveButton"">
                Remove From Favorites <img src="../images/remove.png" width="20" />
            </button>
        </div>

        <div class="col-sm-8" style="color: #dddddd">
            <p>Debbie Ocean gathers a crew to attempt an impossible heist at New York City's yearly Met Gala. </p>
        </div>

        <img src="../images/gallery/oceans8/thumbnails/oceans-8-sandra-bullock-first-look-1200x520.jpg">


    </div>

    <div class="row">
        <div class="col-sm-2">
            <b>Director: </b>

        </div>

        <div class="col-sm-2">
            Gary Ross
        </div>

    </div>

    <div class="row">
        <div class="col-sm-2">
            <b>Writers: </b>
        </div>

        <div class="col-sm-3">
            Gary Ross, Olivia Milch
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <b>Stars: </b>
        </div>

        <div class="col-sm-10">
            Sandra Bullock, Cate Blanchett, Anne Hathaway
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <b>Projection sites: </b>
        </div>

        <div class="col-sm-10">
            Yugoslav FIlm Acrchive, Fountain, Cultural center
        </div>
    </div>

</div>

<hr style="background-color: #f2f2f2"/>
