

<div class="container-fluid bannercontainer">

    <div class="row">

        <h2 class="col-sm-12">Sponzori</h2>

        <div class="col-sm-2">
            <a href="http://www.lukoil.rs" class="article-thumb"  target="_blank" title="Lukoil"><img src="../images/sponsors/sponzor_lukoil.png" alt="" class="banner-img" /></a>
        </div>

        <div class="col-sm-2">
            <a href="http://www.beg.aero/" class="article-thumb"  target="_blank" title="Aerodrom Nikola Tesla"><img src="../images/sponsors/sponzor-aerodrom.png" alt="" class="banner-img" /></a>
        </div>

        <div class="col-sm-2">
            <a href="http://www.vodavoda.rs/" class="article-thumb"  target="_blank" title="Vodavoda"><img src="../images/sponsors/sponzor_vodavoda.png" alt="" class="banner-img" /></a>
        </div>

    </div>

</div>


<div class="text-center footercopyright">
  Copyright 2018 <br/> Dušan Milošević i Aleksandar Luković,
    Odsek za softversko inženjerstvo Elektrotehničkog fakulteta Univerziteta u Beogradu. <br/> All rights reserved.
</div>

