<link rel="icon" href="../images/icon.png" type="image/x-icon">


<div align="right" style="margin-right: 5px;">
    <a href="../sr/index.html">SR</a>
    /
    <a href="../en/index.html">EN</a>
</div>


<div class="text-center headerlogo">
    <h1>Najbolji filmski festival na planeti!</h1>
    <p>Pridružite nam se i uživajte u fascinantnim filmovima!</p>
</div>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <a class="navbar-brand" href="index.html">
        <img src="../images/icon.png" alt="Logo" style="width:40px;">
    </a>

   <!-- <a class="navbar-brand" href="index.html">Početna</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="collapse navbar-collapse" id="collapsibleNavbar">

        <ul class="navbar-nav" id="myNavContainer">


        </ul>
    </div>
</nav>






