
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-5">
            <a href="viewMovie.html?title=jurassticWorld" style="color: #dddddd"> <h1>Svet jure: Palo kraljevstvo</h1> </a>

        </div>

        <div class="col-sm-2" style="margin-top:10px">

                <button class="btn btn-default" id="jurassticWorldFavoriteButton">
                    Dodaj u omiljene <img src="../images/favorites.png" width="20" />
                </button>

        </div>

        <div class="col-sm-2" style="margin-top:10px">
            <button class="btn btn-default" id="jurassticWorldRemoveButton">
                Ukloni <img src="../images/remove.png" width="20" />
            </button>
        </div>

        <div class="col-sm-8" style="color: #dddddd">
            <p>Kada nestanak vulkana ostane u životu, Oven i Claire rade na kampanji za spasavanje preostalih
                dinosaurusa sa ovog događaja na nivou izumiranja.</p>
        </div>

        <div class="col-sm-4">
            <img src="../images/gallery/jurassticWorld/thumbnails/Jurassic-World-Fallen-Kingdom-Chris-Pratt-still.jpg">
        </div>

    </div>
    <div class="row">
        <div class="col-sm-2">
            <b>Reziser: </b>

        </div>

        <div class="col-sm-2">
            J.A. Bayona
        </div>

    </div>

    <div class="row">
        <div class="col-sm-2">
            <b>Scenaristi: </b>
        </div>

        <div class="col-sm-3">
            Colin Trevorrow, Derek Connoll
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <b>Glumci: </b>
        </div>

        <div class="col-sm-10">
            Bryce Dallas Howard, Chris Pratt, Jeff Goldblum...
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <b>Mesta projekcije: </b>
        </div>

        <div class="col-sm-10">
            Jugoslovenska kinoteka, Fontana, Dvorana kulturnog centra
        </div>
    </div>

</div>

<hr style="background-color: #f2f2f2"/>