
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-5">
            <a class="movie_selfLink" href="#" style="color: #dddddd">
                <h1 class="movie_title"> </h1>
            </a>
        </div>

        <div class="col-sm-2" style="margin-top:10px">
            <button class="btn btn-default movie_favoriteButton">

            </button>
        </div>

        <div class="col-sm-8" style="color: #dddddd">
            <p class="movie_description"> </p>
        </div>

        <img class="movie_imgSrc" src="">


    </div>

    <div class="row">
        <div class="col-sm-1">
            <b>Reziser: </b>

        </div>

        <div class="col-sm-2 movie_director">

        </div>

    </div>

    <div class="row">
        <div class="col-sm-1">
            <b>Scenaristi: </b>
        </div>

        <div class="col-sm-3 movie_scenarioWriters">

        </div>
    </div>

    <div class="row">
        <div class="col-sm-1">
            <b>Glumci: </b>
        </div>

        <div class="col-sm-10 movie_actors">

        </div>
    </div>

</div>

<hr style="background-color: #f2f2f2"/>
