<div class="container-fluid">



<div class="row">
    <div class="col-sm-12"><h1>Galerija</h1></div>

</div>
<!-- Images used to open the lightbox -->
<div class="row">
    <div class="column">
        <img src="../images/gallery/oceans8/thumbnails/gettyimages-619468316-1525873020.jpg" onclick="openModal();currentSlide(1)"
             class="hover-shadow">
    </div>
    <div class="column">
        <img src="../images/gallery/oceans8/thumbnails/index.jpeg" onclick="openModal();currentSlide(2)"
             class="hover-shadow">
    </div>
    <div class="column">
        <img src="../images/gallery/oceans8/thumbnails/oceans-8-sandra-bullock-first-look-1200x520.jpg" onclick="openModal();currentSlide(3)"
             class="hover-shadow">
    </div>

</div>

<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">

        <div class="mySlides">
            <div class="numbertext">1 / 3</div>
            <img src="../images/gallery/oceans8/gettyimages-619468316-1525873020.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 3</div>
            <img src="../images/gallery/oceans8/index.jpeg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 3</div>
            <img src="../images/gallery/oceans8/oceans-8-sandra-bullock-first-look-1200x520.jpg" style="width:100%">
        </div>



        <!-- Next/previous controls -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <!-- Caption text -->
        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <div class="container">
            <div class="row">
                <!-- Thumbnail image controls -->
                <div class="column">
                    <img class="demo" src="../images/gallery/oceans8/thumbnails_for_controls/gettyimages-619468316-1525873020.jpg"
                         onclick="currentSlide(1)" alt="Nature">
                </div>

                <div class="column">
                    <img class="demo" src="../images/gallery/oceans8/thumbnails_for_controls/index.jpeg"
                         onclick="currentSlide(2)" alt="Trolltunga">
                </div>

                <div class="column">
                    <img class="demo" src="../images/gallery/oceans8/thumbnails_for_controls/oceans-8-sandra-bullock-first-look-1200x520.jpg"
                         onclick="currentSlide(3)" alt="Mountains">
                </div>

            </div>
        </div>
    </div>
</div>
    <hr style="background-color: #f2f2f2"/>

    <div class="row">
        <div class="col-sm-12"><h1>Trailer</h1></div>

    </div>
    <div class="row">
        <div class="col-sm-12"><iframe width="640" height="360" src="https://www.youtube.com/embed/MFWF9dU5Zc0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
    </div>

    <hr style="background-color: #f2f2f2"/>
    <div class="row">
        <div class="col-sm-12"><h1>Lokacija naredne projekcije</h1></div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.0941044760116!2d20.453741814998523!3d44.81964747909868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a654c9bdf4801%3A0xa832f475d1411195!2sYugoslav+film+archive!5e0!3m2!1sen!2srs!4v1527377154837" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>        </div>
    </div>

</div>

<hr style="background-color: #f2f2f2"/>