
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-5">
            <a href="viewMovie.html?title=oceans8" style="color: #dddddd"><h1>Okeanovih 8</h1></a>
        </div>

        <div class="col-sm-2" style="margin-top:10px">
            <button class="btn btn-default" id="oceanFavoriteButton">
                Dodaj u omiljene <img src="../images/favorites.png" width="20" />
            </button>
        </div>

        <div class="col-sm-2" style="margin-top:10px">
            <button class="btn btn-default" id="oceanRemoveButton"">
                Ukloni <img src="../images/remove.png" width="20" />
            </button>
        </div>

        <div class="col-sm-8" style="color: #dddddd">
            <p>Debbie Ocean okuplja posadu da pokuša nemoguće heist u godišnjoj Met Gala u Njujorku.</p>
        </div>

        <img src="../images/gallery/oceans8/thumbnails/oceans-8-sandra-bullock-first-look-1200x520.jpg">


    </div>

    <div class="row">
        <div class="col-sm-2">
            <b>Reziser: </b>

        </div>

        <div class="col-sm-2">
            Gary Ross
        </div>

    </div>

    <div class="row">
        <div class="col-sm-2">
            <b>Scenaristi: </b>
        </div>

        <div class="col-sm-3">
            Gary Ross, Olivia Milch
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <b>Glumci: </b>
        </div>

        <div class="col-sm-10">
            Sandra Bullock, Cate Blanchett, Anne Hathaway
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <b>Mesta projekcije: </b>
        </div>

        <div class="col-sm-10">
            Jugoslovenska kinoteka, Fontana, Dvorana kulturnog centra
        </div>
    </div>

</div>

<hr style="background-color: #f2f2f2"/>
